<form class="{{cssClass}}" autocomplete="off">
  {{#if gallery}}
  <ul class="exhibit">
    {{#each gallery as |art|}}
    <li class="artpiece" data-id="{{art.id}}">
      <span class="flexrow">
        {{#if ../editMode}}
        <button
          type="button"
          class="menu"
          title="{{localize 'AG.ClickToOpen'}}"
        >
          <i class="fas fa-bars"></i>
        </button>
        {{/if}}
        <h2 class="title" contenteditable="{{@root.editMode}}" data-target="title">
          {{art.title}}
        </h2>
      </span>
      <img
        src="{{art.img}}"
        alt="{{art.title}}"
        title="{{localize 'AG.ClickToZoom'}}"
      />
      <div
        class="description"
        contenteditable="{{../editMode}}"
        data-target="description"
      >
        {{#if art.description}} {{art.description}} {{else}} {{localize
        "AG.NoDesc"}} {{/if}}
      </div>
    </li>
    {{/each}}
  </ul>
  {{else}}
  <section class="empty">
    <i class="background far fa-images"></i>
  </section>
  {{/if}} {{#if editMode}}
  <footer>
    <hr />
    <span class="flexrow inputs">
      <span class="flexcol">
        <div class="form-group">
          <label for="title"> {{localize "AG.Title"}} </label>
          <span class="form-fields">
            <input type="text" name="title" placeholder="{{localize
            "AG.Title"}}" required />
          </span>
        </div>
        <div class="form-group">
          <label for="title">
            {{localize "AG.Image"}} {{localize "AG.FilePath"}}</label
          >
          <span class="form-fields">
            {{#if canBrowse}} {{filePicker target="img" type="image"}}{{/if}}
            <input class="image" type="text" name="img" placeholder="{{localize
            "AG.FilePath"}}" required />
          </span>
        </div>
      </span>
      <textarea
        name="description"
        rows="3"
        placeholder="{{localize 'AG.EnterDesc'}}"
      ></textarea>
    </span>
    <button type="submit">
      <i class="fas fa-plus"></i>
      {{localize "AG.AddArt"}}
    </button>
  </footer>
  {{/if}}
</form>
